PFE AgriMonitoring/NodeRED/flows 2.json
[{"id":"ec6c50cda93aeb66","type":"tab","label":"Ai","disabled":false,"info":"","env":[]},{"id":"mqtt_in_edge","type":"mqtt in","z":"ec6c50cda93aeb66","name":"Les Feuilles","topic":"edgeimpulse/results","qos":"0","datatype":"json","broker":"mqtt_broker_id","nl":false,"rap":false,"inputs":0,"x":230,"y":120,"wires":[["parser","1a37c16a6e19fdb8"]]},{"id":"parser","type":"function","z":"ec6c50cda93aeb66","name":"Fonction","func":"let boxes = msg.payload.bounding_boxes;\nlet resultText = \"\";\n\nfor (let i = 0; i < boxes.length; i++) {\n    let label = boxes[i].label;\n    let confidence = (boxes[i].value * 100).toFixed(2);\n    resultText += `${label} : ${confidence}%\\n`;\n}\n\nif (resultText === \"\") {\n    resultText = \"Aucun objet détecté.\";\n}\n\nmsg.payload = resultText;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["text_display"]]},{"id":"text_display","type":"ui_text","z":"ec6c50cda93aeb66","group":"dashboard_group_leaf","order":1,"width":6,"height":4,"name":"Résultat de la classification","label":"Résultat de classification","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":820,"y":120,"wires":[]},{"id":"1a37c16a6e19fdb8","type":"debug","z":"ec6c50cda93aeb66","name":"Debug ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"mqtt_broker_id","type":"mqtt-broker","name":"Mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"NodeRED_Dashboard","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dashboard_group_leaf","type":"ui_group","name":"Feuille","tab":"dashboard_tab_leaf","order":1,"disp":true,"width":"6","collapse":false},{"id":"dashboard_tab_leaf","type":"ui_tab","name":"Surveillance","icon":"leaf","order":1}]